P { text-align: center }
H2 { text-align: center }

.center {
    width: 500px;
    padding: 10px;
    margin: auto
   }

.colortextmax {
     color: red;
     font-weight: 600;
  }

.colortextmin {
     color: green; 
     font-weight: 600;
  }

.place {
     float: right;
  }